<%if (auth=='600c0f0fbc4b391f0135065e') { %>
    <div class="editPost">
        <a href="/new/post/<%- postType %>/" ><i class="fa fa-plus"></i></a>
    </div>
    <br><br>
<% } %>
<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4"><%- postType %></div>
                </div>
                <% for(var i=0; i < posts.length; i++) { %>
                    <div class="row pb-4">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="<%- posts[i].image %>"/></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7 animate-box">
                            <a href="/post/<%- posts[i].postType %>/<%- posts[i].slug %>/<%- posts[i]._id %>/" class="fh5co_magna py-2"> <%- posts[i].title %></a><br>
                            <a href="#" class="fh5co_mini_time py-3"> <%- posts[i].username %></a>
                            on <i class="fa fa-clock-o"></i> <%- posts[i].createdAt.toDateString() %>
                            <div class="fh5co_consectetur"><%- posts[i].description %></div>
                        </div>
                    </div>
                <% } %>
                <br>
                <div style="text-align: center;">
                    <% if (prevPage > 0) { %>
                        <a href="/posts/<%- postType %>/<%- prevPage %>/" class="btn_mange_pagging">Prev</a>
                    <% } else { %>
                        <a href="/posts/<%- postType %>/<%- currPageNo %>/" class="btn_mange_pagging">Prev</a>
                    <% } %>
                    <% if (currPageNo == 1) { %>
                        <a href="/posts/<%- postType %>/<%- currPageNo %>/" class="btn_pagging"><%- currPageNo %></a>
                        <a href="#" class="btn_pagging">...</a>
                    <% } else if (currPageNo == pageCount) { %>
                        <a href="#" class="btn_pagging">...</a>
                        <a href="/posts/<%- postType %>/<%- currPageNo %>/" class="btn_pagging"><%- currPageNo %></a>
                    <% } else { %>
                        <a href="/posts/<%- postType %>/<%- currPageNo %>/" class="btn_pagging"><%- currPageNo %></a>
                        <a href="#" class="btn_pagging">...</a>
                    <% } %>
                    <% if (nextPage <= pageCount) { %>
                        <a href="/posts/<%- postType %>/<%- nextPage %>/" class="btn_mange_pagging">Next</a>
                    <% } else { %>
                        <a href="/posts/<%- postType %>/<%- currPageNo %>/" class="btn_mange_pagging">Next</a>
                    <% } %>
                </div>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="/all/posts/Blog Post/" class="fh5co_tagg">Blog</a>
                    <a href="#" class="fh5co_tagg">Technology</a>
                    <a href="/travel-photography-tips-60534749775cb32b2bc6f96f" class="fh5co_tagg">Photographer Tips</a>
                    <a href="/all/posts/Travel Story/" class="fh5co_tagg">Travel Story</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="/all/posts/Travel Tip/" class="fh5co_tagg">Travel Tips</a>
                    <a href="#" class="fh5co_tagg">Social</a>
                    <a href="/best-travel-camera-6053495d775cb32b2bc6f970" class="fh5co_tagg">Best Camera</a>
                    <a href="/all-videos-Review" class="fh5co_tagg">Review</a>
                    <a href="/all-visitedStates" class="fh5co_tagg">Explore India</a>
                    <a href="/photos" class="fh5co_tagg">Photography</a>
                    <a href="/all-videos-Travel Video" class="fh5co_tagg">Video</a>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                </div>
                <% for(var i=0; i < Math.min(trending.length, 5); i++) { %>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="<%- trending[i].image %>" alt="img" class="fh5co_most_trading"/>
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font">
                                <a href="/post/<%- trending[i].postType %>/<%- trending[i].slug %>/<%- trending[i]._id %>/" class="fh5co_magna py-2"> <%- trending[i].title %></a>
                            </div>
                            <div class="most_fh5co_treding_font_123"> <i class="fa fa-clock-o"></i> <%- trending[i].createdAt.toDateString() %></div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Recent Travel Story</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            <% for(var i=0; i < Math.min(lastModified.length, 6); i++) { %>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="<%- lastModified[i].image %>" alt=""/></div>
                        <div>
                            <a href="/post/<%- lastModified[i].postType %>/<%- lastModified[i].slug %>/<%- lastModified[i]._id %>/" class="d-block fh5co_small_post_heading"><span class=""><%- lastModified[i].title %></span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> <%- lastModified[i].createdAt.toDateString() %></div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>