<%if (auth=='600c0f0fbc4b391f0135065e') { %>
    <div class="editPost">
        <a href="/get/<%- policyType %>/<%- privacyPolicy._id %>/" ><i class="fa fa-pencil-square-o"></i></a>
    </div>
    <br><br>
<% } %>

<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
      <%if (success.length > 0) { %>
        <div class="alert alert-success alert-dismissible message" style="text-align: center;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Congratulations!</strong> <%- success %>
        </div>
    <% } else if (warning.length > 0) { %>
        <div class="alert alert-warning alert-dismissible message" style="text-align: center;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning!</strong> <%- warning %>
        </div>
    <% } else if (danger.length > 0) { %>
        <div class="alert alert-danger alert-dismissible message">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Danger!</strong> <%- danger %>
        </div>
    <% } else if (info.length > 0) { %>
        <div class="alert alert-info alert-dismissible message" style="text-align: center;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Info!</strong> <%- info %>
        </div>
    <% } %>
      <div class="row">
        <div class="col-md-12 text-center">
          <b><h2 class="service-title pad-bt15"><%- policyType %></h2></b>
          <i><p class="sub-title pad-bt15">Effective date: <%- privacyPolicy.createdAt.toDateString() %></p></i>
          <hr class="bottom-line">
        </div>
        <ul style="list-style-type: none;">
            <%- privacyPolicy.content %>
        </ul>
      </div>
    </div>
  </section>

<hr>