
<header class="masthead">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1>WELCOME</h1>
					<span class="subheading">Travel smarter, cheaper, longer Where do you want to go?</span>
				</div>
			</div>
		</div>
	</div>
</header>

<%if (auth=='600c0f0fbc4b391f0135065e') { %>
    <div class="editPost">
        <a href="/get-travelPost-<%= stateName %>-<%= locationName %>-<%- travelPost.slug %>-<%- travelPost._id %>" ><i class="fa fa-pencil-square-o"></i></a>
        <a href="/delete-travelPost-<%= stateName %>-<%= locationName %>-<%- travelPost.slug %>-<%- travelPost._id %>" onclick="return confirm('Are you sure you want to delete this post?');"><i class="fa fa-trash"></i></a>
    </div>
    <br><br>
<% } %>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <%if (success.length > 0) { %>
            <div class="alert alert-success alert-dismissible message" style="text-align: center;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Congratulations!</strong> <%- success %>
            </div>
        <% } else if (warning.length > 0) { %>
            <div class="alert alert-warning alert-dismissible message" style="text-align: center;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Warning!</strong> <%- warning %>
            </div>
        <% } else if (info.length > 0) { %>
            <div class="alert alert-info alert-dismissible message" style="text-align: center;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Info!</strong> <%- info %>
            </div>
        <% } %>
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
				<h2 class="post-title" ><%- travelPost.title %></h2>
				<p class="singlePostMeta">Posted by
					<a href="#"><%- travelPost.username %></a>
					on <%- travelPost.createdAt.toDateString() %>
                </p>
				<p class="post-description" ><%- travelPost.description %></p>
				<!-- <img src="<%- travelPost.image %>"> -->
				<br>
				<%- travelPost.content %>
				<br>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">Business</a>
                    <a href="#" class="fh5co_tagg">Technology</a>
                    <a href="#" class="fh5co_tagg">Sport</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                    <a href="#" class="fh5co_tagg">Photography</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Education</a>
                    <a href="#" class="fh5co_tagg">Social</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                </div>
                <% for(var i=0; i < Math.min(posts.length, 5); i++) { %>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="<%- posts[i].image %>" alt="img" class="fh5co_most_trading"/>
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font"> <%- posts[i].title %>.</div>
                            <div class="most_fh5co_treding_font_123"> <%- posts[i].createdAt.toDateString() %></div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">News</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            <% for(var i=0; i < Math.min(posts.length, 6); i++) { %>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="<%- posts[i].image %>" alt=""/></div>
                        <div>
                            <a href="single.html" class="d-block fh5co_small_post_heading"><span class=""><%- posts[i].title %></span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> <%- posts[i].createdAt.toDateString() %></div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<div id="wpac-comment"></div>
<script type="text/javascript">
	wpac_init = window.wpac_init || [];
	wpac_init.push({widget: 'Comment', id: 29074});
	(function() {
		if ('WIDGETPACK_LOADED' in window) return;
		WIDGETPACK_LOADED = true;
		var mc = document.createElement('script');
		mc.type = 'text/javascript';
		mc.async = true;
		mc.src = 'https://embed.widgetpack.com/widget.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
	})();
</script>

<br>